<!-- views/partials/footer.ejs -->
<div class="footer">
  <p class="footer-text">© Copyright <script>document.write(new Date().getFullYear()) </script> - <a class="footer-link"href="http://halima.be">HALIMA</a> </p>
     </div>    