<div class="navbar">
    <ul>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/team">TEAM</a></li>
      <li><a href="/diensten">DIENSTEN</a></li>
      <li><a href="/over">OVER</a></li>
      <li style="float:left"><a class="logo" href="/">DIGIHAL</a></li>
    </ul>
  </div>