
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<h2 class="title2">DIENSTEN</h2>
<div class= "animate__animated animate__slideInDown container">
  <div class="card">
    <img class="diensten-img" src="https://www.flaticon.com/svg/static/icons/svg/1997/1997928.svg" alt="Avatar">
      <h4>EEN DIENST</h4>
      <p class="left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div> 
  <div class="card">
    <img class="diensten-img" src="https://www.flaticon.com/svg/static/icons/svg/1997/1997928.svg" alt="Avatar">
      <h4>EEN DIENST</h4>
      <p class="left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div> 
  <div class="card">
    <img class="diensten-img" src="https://www.flaticon.com/svg/static/icons/svg/1997/1997928.svg" alt="Avatar">
      <h4>EEN DIENST</h4>
      <p class="left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>  
</div>
    <%- include('partials/footer') %>