<%- include('partials/header') %>
<%- include('partials/navbar') %>

<img class="animate__animated animate__slideInRight home-img" src="https://cdn.pixabay.com/photo/2017/05/03/22/14/laptop-2282328_960_720.png" alt="Girl in a jacket">
<div class="animate__animated animate__slideInLeft home-container">
<h1 class="home-title">DIGITAL AGENCY</h1>
  <P class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br><a class="button" href="/diensten">ONZE DIENSTEN</a>
  
</div>
<%- include('partials/footer') %>